<link rel="stylesheet" href="/css/forgot_password.css"/>
<p>Genrate link in  registered mail to reset password.</p>
<div class="form-wrapper">
    
    <form method="post" action="/users/resetTokenRequest">
        <input type="email" name="email" placeholder="Email" required>
        <!-- <div class="captcha"><div><label id="captcha-value" for="captcha"><%= locals.captcha %></label><button type="button" id="refresh-captcha-button">Refresh</button></div><input name="captcha" placeholder="Verify captcha" required></div> -->
        <div class="action-panel"><button type="submit">SEND MAIL</button></div>       
    </form>
</div>