<style>
    a{
        text-decoration: none;
        color:black;
        padding:10px;
        border-radius: 0.5em;
        margin: 2px;
        color: white;
    }
    a.chpass{
        background-color: rgb(42, 165, 73);
    }
    a.logout{
        background-color: rgb(221, 51, 51);
        
    }
    div{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        margin:10px 0;
    }
</style>
<link rel="stylesheet" href="/css/home.css">
<div id="page-container" >
<% if(locals.user){ %>
    <a class="chpass" href="/users/changePassword">Change Password</a>
    <a class="logout" href="/users/logout"> LOG OUT </a>
    <p >Welcome , <span style="font-size: x-large;"><%=locals.user.email %></span><p>
    <% if(locals.user.picture){%>
        <img src=<%= locals.user.picture %> alt="profile"></img>
    <%}%>
<%}%>
</div>