
<link rel="stylesheet" href="/css/home.css">
<div id="page-container" >
<% if(locals.user){ %>
    <a class="chpass" href="/users/changePassword">Change Password</a>
    <a class="logout" href="/users/logout"> LOG OUT </a>
    <p >Welcome , <span style="font-size: x-large;"><%=locals.user.email %></span><p>
    <% if(locals.user.picture){%>
        <img src=<%= locals.user.picture %> alt="profile"></img>
    <%}%>
<%}%>
</div>