<link rel="stylesheet" href="/css/forgot_password.css"/>
<p>Create new password.</p>
<div class="form-wrapper">
    <form method="post" action="/users/finalizeForgotPassword">
        <input type="password" name="password" placeholder="New Password"/>
        <input type="password" name="confirmPassword" placeholder="Confirm New Password"/>
        <input type="text" value=<%= locals.userId %> name="userId" hidden/>
        <div class="action-panel"><button> Confirm </button></div>
    </form>
</div>