


<link rel="stylesheet" href="/css/reset_user_credentials.css">
<p>Change Password</p>

    <form id="change-pass-form" method="post" action="/users/changePasswordRequest">
        <input type="text" name="oldPassword" placeholder="Old password" required>
        <input type="password" name="newPassword" placeholder="New password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Confirm</button>       
    </form>
