p{
    width: -webkit-fill-available;
    text-align: center;
    font-size: x-large;
    margin-top: 55px;
}
.form-wrapper{
    width: min-content;
    margin: auto;
}
.form-wrapper form{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    min-height: 10em;
    min-width: 18em;
    background: #463f33;
    padding: 14px;
    box-shadow: 0 0 2px 5px #5f6e5b inset;
    margin: 5px;
}

.form-wrapper form input{
    border: none;
    border-bottom: 0.5px black solid;
    border-radius: 0.3em;
    padding: 6px;
    text-align: center;
    width: -webkit-fill-available;
    font-size: larger;
}


.form-wrapper form a{
    color: white
}
.form-wrapper form div.captcha{
    background: #c4d9c3;
    color: #217020;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.3em;
}
/* .form-wrapper form div.captcha input{ 
    width: 38%;
    font-size: smaller;
}
.form-wrapper form div.captcha button{
    margin: 0 4px;
    background: #9acd321f;
    font-size: 0.8em;
    color: #42641d;
    font-weight: bold;
    border: none;
} */


.form-wrapper form .action-panel{
    display: flex;
    justify-content: space-around;
}
.form-wrapper .action-panel button{
    color: black;
    background: #81cd81;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 0.3em;
    border: none;
}

