p{
    font-size: 1.4em;
    text-align: center;
    margin: 30px auto;

}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}


#change-pass-form{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 11em;
    background: #463f33;
    padding: 14px;
    box-shadow: 0 0 2px 5px #5f6e5b inset;
    max-width: 40em;
    margin: 0 auto;
}
#change-pass-form input{
    text-align: center;
    border-radius: 0.3em;
    font-size: 1.2em;
    padding: 6px 0;
    width: 85%;
}
#change-pass-form button{
    color: black;
    background: #81cd81;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 0.3em;
    border: none;
}
